---
import {
  education as educationClass,
  educationHeader,
  educationInstitution,
  educationTitle,
} from "./education.styles";
import type { EducationProps } from "./education.types";

const { education } = Astro.props as EducationProps;
---

<div class={educationClass}>
  <div class={educationHeader}>
    <div class={educationTitle}>{education.degree}</div>
    <div class={educationTitle}>{education.dateRange}</div>
  </div>
  <div class={educationInstitution}>{education.institution}</div>
</div>
