---
import "@/styles/global.css";
import DocumentHead from "@/features/document-head/document-head.component.astro";
import SiteFooter from "@/features/site-footer/site-footer.component.astro";
import SiteHeader from "@/features/site-header/site-header.component.astro";
import { BASE_URL, SITE_NAME } from "@/lib/site.constants";
import {
  baseLayoutBody,
  baseLayoutMain,
  baseLayoutMainInner,
} from "./BaseLayout.styles";
import type { BaseLayoutProps } from "./BaseLayout.types";

const { title, description } = Astro.props as BaseLayoutProps;
const fullTitle = `${title} | ${SITE_NAME}`;
const canonical = `${BASE_URL}${Astro.url.pathname}`;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<DocumentHead
			fullTitle={fullTitle}
			description={description}
			canonical={canonical}
		/>
	</head>

	<body class={baseLayoutBody}>
		<SiteHeader currentPath={currentPath} />

		<main class={baseLayoutMain}>
			<div class={baseLayoutMainInner}>
				<slot />
			</div>
		</main>

		<SiteFooter />
	</body>
</html>
